# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# working project
test-project/

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# NPM packages folder.
node_modules/

# Brunch folder for temporary files.
tmp/

# Brunch output folder.
public/

# Bower stuff.
bower_components/

# generic vendor stuff
vendor/

# compile output folders
bin/
gen/
dist/

# dotfiles!
.*

# project files
*.iml
