@black-pearl: rgb(30, 41, 48);
@cloud-burst: rgb(52, 68, 78);
@licorice: rgb(46, 62, 72);
@link-water: #d3dde3;
@mirage: rgb(50, 58, 63);
@shuttle-grey: rgb(89, 98, 103);
@tangaroa: rgb(10, 26, 36);
@trout: rgb(80, 89, 94);
@arsenic: rgb(67, 76, 81);
@white-smoke: #efefef;
@dark-grey: #ababab;
@black: #000000;
@submarine: #929CA1;
@gainsboro: #dfdfdf;
@pale-sky: #5f686d;
@dim-grey: #666666;
@conifer: #b1e758;
@vida-loca: #59922f;
@pacific-blue: #0088cc;
@summer-sky: #4aabdb;
@macaroni-and-cheese: #ffb870;
@white: white;
@maya-blue: #5ac8fa;
@tangerine-yellow: #ffcc00;
@dark-orange: #ff9500;
@radical-red: #ff2d55;
@dodger-blue: #007aff;
@emerald: #4cd964;
@red-orange: #ff3b30;
@grey-suit: #8e8e93;
@night-shadz: #983c53;
@sepia: #98593c;
@highball: #9a8f3e;
@chateau-green: #3d993f;
@mariner: #3e559a;
@blue-gem: #403e9a;
@daisy-bush: #5a3d99;
