@import "app/styles/colors.less";


@font-face {
    font-family: 'lane';
    src: url('/fonts/LANENAR_-webfont.eot');
    src: url('/fonts/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/LANENAR_-webfont.woff') format('woff'),
         url('/fonts/LANENAR_-webfont.ttf') format('truetype'),
         url('/fonts/LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: @scrollbar-bg-color;
}

::-webkit-scrollbar-thumb {
    background: @scrollbar-thumb-color;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: @scrollbar-thumb-color;
}

html, body {
    height: 100%;
    background: @bg-color;
    color: @text-color;
    font-family: 'lane', sans-serif;
    font-size: 15px;
    user-select: none;
}

.selectable-contents {
    user-select: text;
}

* {
    border-radius: 0 !important;
}

.container-fluid {
    height: 100%;
    width: 100%;
}

.demo-container {
    background: @demo-container-bg-color;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.fullscreen {
    position: fixed;
    -webkit-transform: translateZ(0);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000000000;
}

main-window, main-window > div {
    width: 100%;
    height: 100%;
    display: block;
}

.ui-splitbar {
    background: @splitbar-bg-color;
}

.bottom {
    margin-top: 8px;
}

.bottom-controls {
    z-index: 999999;
    position: fixed;
    right: 15px;
    bottom: 15px;
    background: @fixed-panel-bg-color;
}

.frame-panel {
    left: 15px;
}

.fixed-panel {
    position: fixed;
    top: calc(~"50% +" 18px);
    background: @fixed-panel-bg-color;
    height: 30px;
    padding: 3px 6px;
    text-align: left;
    z-index: 999999;
    color: @fixed-panel-text-color;
    pointer-events: none;
}

.beat-bean-panel {
    right: 25px;
}

.fixed-panel label {
    opacity: @fixed-panel-label-opacity;
    padding: 1px 2px;
    font-weight: normal;
}

.fixed-panel .value {
    padding: 1px 2px;
    font-weight: bold;
}

.layers-bar-container {
    overflow-x: scroll;
    overflow-y: visible;
    width: auto;
    height: 100%;
    float: left;
    background: @well-bg-color;
}

.layers-bar-container, .layers-bar-container * {
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

.layer-bar {
    color: @layer-bar-text-color;
    height: 100%;
    border-left: 1px solid @layer-bar-border-color;
    border-right: 1px solid @layer-bar-border-color;
    padding: 1px 2px;
    overflow: hidden;
    opacity: 0.8;
}

.layer-bar .name {
    padding: 2px 5px;
    background: rgba(0, 0, 0, 0.5);
}

.layer-bar-wrapper {
    height: 30px;
    border-bottom: 1px solid @well-bg-border-color;
}

.layer-bar-wrapper:nth-of-type(2n) {
    background: @well-bg-color;
}

.layer-bar-wrapper.inspected {
    background: @selected-layer-bg-color;
}

.marker-line {
    position: absolute;
    z-index: 100;
    background: transparent;
    width: 1px;
    height: calc(~"100% -" 8px);
}

.marker-line.play {
    border-right: 1px solid @marker-line-play-color;
}

.marker-line.loop {
    border-right: 1px solid #ffb870;
    box-shadow: 0px 0px 20px #ffb870;
}

.glow {
    width: 20px;
    height: 100%;
    margin-left: -20px;
}

.glow.glow-play {
    background: transparent;
    box-shadow: inset -10px 0px 20px -3px @marker-line-play-glow-color;
    opacity: 0.7;
}

.glow.glow-loop {
    width: 1px;
    opacity: 0.7;
    margin-left: 0;
}

.musiclayer {
    background: @music-layer-bg-color;
    height: 50px;
}

.musiclayer canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.musiclayer .over {
    overflow: hidden;
    position: relative;
    top: -50px;
    height: 100%;
}

.musiclayer .under {
    height: 100%;
}

.top-panel {
    background: @bg-color;
}

.top-panel .layer-title {
    font-size: 40px;
    padding: 30px 15px 5px;
    background: @top-panel-layer-title-bg-color;
}

.tweak-panel {
    padding-top: 20px;
}

.tweak-panel .tweak-label {
    text-align: right;
    padding: 6px;
    font-weight: normal;
}

.camera-panel {
    padding-top: 20px;
}

.camera-panel input,
.tweak-panel input {
    background: @well-bg-color-alt;
    border: 1px solid #414a4f;
    color: @text-color;
    outline: 0;
    font-family: monospace;
    width: 100%;
}

.nav-tabs > li > a {
    background: #161f24;
    color: #888;
    cursor: pointer;
}

.nav-tabs.nav-justified > li > a,
.nav-tabs.nav-justified > li.active > a,
.nav-tabs.nav-justified > li > a:hover,
.nav-tabs.nav-justified > li.active > a:hover {
    border: 0;
    outline: 0;
}

.nav-tabs.nav-justified > li > a:hover {
    background: #5f686d;
    color: #d3dde3;
}

.nav-tabs.nav-justified > li.active > a,
.nav-tabs.nav-justified > li.active > a:hover {
    background: #3d464b;
    color: #d3dde3;
}

#copy-stasher {
    visibility: hidden;
}

/* generated by http://danielstern.ca/range.css/ */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.7px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7.6px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1.7px rgba(61, 70, 75, 0), 0px 0px 0.9px rgba(72, 83, 89, 0);
  background: #3d464b;
  border-radius: 0px;
  border: 0px solid #3d464b;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.6px 0.6px 2.6px rgba(61, 70, 75, 0), 0px 0px 0.6px rgba(72, 83, 89, 0);
  border: 0px solid #3d464b;
  height: 23px;
  width: 8px;
  border-radius: 0px;
  background: #888888;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3d464b;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7.6px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1.7px rgba(61, 70, 75, 0), 0px 0px 0.9px rgba(72, 83, 89, 0);
  background: #3d464b;
  border-radius: 0px;
  border: 0px solid #3d464b;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.6px 0.6px 2.6px rgba(61, 70, 75, 0), 0px 0px 0.6px rgba(72, 83, 89, 0);
  border: 0px solid #3d464b;
  height: 23px;
  width: 8px;
  border-radius: 0px;
  background: #888888;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3d464b;
  border: 0px solid #3d464b;
  border-radius: 0px;
  box-shadow: 0.9px 0.9px 1.7px rgba(61, 70, 75, 0), 0px 0px 0.9px rgba(72, 83, 89, 0);
}
input[type=range]::-ms-fill-upper {
  background: #3d464b;
  border: 0px solid #3d464b;
  border-radius: 0px;
  box-shadow: 0.9px 0.9px 1.7px rgba(61, 70, 75, 0), 0px 0px 0.9px rgba(72, 83, 89, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0.6px 0.6px 2.6px rgba(61, 70, 75, 0), 0px 0px 0.6px rgba(72, 83, 89, 0);
  border: 0px solid #3d464b;
  height: 23px;
  width: 8px;
  border-radius: 0px;
  background: #888888;
  cursor: pointer;
  height: 7.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3d464b;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3d464b;
}

/* end generated */

.scalers {
    float: right;
    width: 100px;
    height: 100px;
}

.x-scaler, .y-scaler {
    width: 100px;
    height: 50px;
    padding: 12px;
}

.top-menu {
    position: fixed;
    z-index: 99999999;
    height: 34px;
}

.menu-group.selected {
    background: @menu-bg-color;
}

.menu-group {
    float: left;
    position: relative;
}

.menu-item {
    cursor: pointer;
    padding: 6px 12px 6px 6px;
}

.sub-menu {
    position: absolute;
    background: @menu-bg-color;
    color: @menu-text-color;
    padding: 2px;
}

.sub-menu .menu-item {
    padding: 3px 12px 1px 6px;
    margin: 2px;
    min-width: 200px;
    font-size: 13px;
}

.sub-menu .menu-item:hover {
    background: @menu-bg-color-selected;
    color: @menu-text-color-selected;
}

.sub-menu .menu-item.separator-item:hover {
    background: transparent;
}

.sub-menu .menu-item .shortcut {
    float: right;
    padding-left: 12px;
    color: @menu-shortcut-text-color;
}

.sub-menu .menu-item:hover .shortcut {
    color: @menu-shortcut-text-color-selected;
}

.sub-menu .separator {
    height: 1px;
    width: 10%;
    background: @menu-separator-bg-color;
    opacity: 0.2;
    margin: 2px 0 4px;

}

.beat {
    font-weight: bold;
}

.top-left-quadrant {
  background: @bg-color url(@logo-path) no-repeat center center;
  background-size: 15%;

  > div {
    height: 100%;
    background: @bg-color;
  }

  .label {
    font-weight: normal;
    color: @text-color;
  }

  input {
    background: @top-panel-layer-title-bg-color;
  }

  .info-panel {
    padding-top: 20px;
    .value {
      font-family: monospace;
      display: inline-block;
    }
    .config-value {
      font-family: monospace;
      overflow: auto;
      white-space: pre;
    }
  }

  .buttons {
    padding-top: 20px;
  }
}

.btn.btn-default {
  background: @btn-default-bg-color;
  box-shadow: 0px 1px 1px @btn-default-box-shadow-color;
  border: solid @top-panel-layer-title-bg-color 1px;
  color: @text-color;
}
