html, body {
    height: 100%;
}

.container-fluid {
    height: 100%;
    width: 100%;
}

.demo-container {
    position: fixed;
    width: 66.666666%;
    height: 50%;
    right: 0;
    top: 0;
    background: black;
}

main-window, main-window > div {
    width: 100%;
    height: 100%;
    display: block;
}

.bottom {
    margin-top: 8px;
}

.layer {
    height: 50px;
    border: 1px solid #888;
}

.layer-label {
    height: 100%;
    width: 150px;
    float: left;
    border-right: 1px solid #888;
}

.layer-bar-container {
    height: 100%;
    margin-left: 150px;
    width: calc(100% - 150px);
}

.layer-bar {
    height: 100%;
    background: yellow;
    display: inline-block;
    width: auto;
}
