html, body, .container-fluid {
    height: 100%;
}

#upper-row, #timeline {
    height: 50%;
}

#preview, #inspector {
    height: 100%;
}

#preview {
    background: black;
}

.pane {
   outline: 1px solid black;
}

#timeline{
    .song {
        height:60px;
        background: grey;
    }

    .layer {
        border-bottom: 1px solid #aaa;
        height: 40px;

        .meta {
            height: 40px;
            border-right: 1px solid #aaa;
        }
    }
}
