<div class=bottom ng-controller="BottomCtrl">

<div class=layers-label-container>
  <div class=layer-label ng-repeat="layer in layers">
      {{ layer.displayName }} 
  </div>
</div>

  <div class=layers-bar-container scrollcallback="onBottomScroll">
    <div
      class=marker-line
      ng-hide="hideMarker"
      style="margin-left: {{ currentFrame - bottomScrollOffset }}px"
      ></div>

    <div
      waveform
      duration="{{duration}}"
      class="layer musiclayer"
      ng-click="musicLayerClick($event)"
      style="width: {{ duration }}px">
      &nbsp;
    </div>

    <div
      ng-repeat="layer in layers"
      dragresizable
      class=layer-bar
      style="
        width:{{ layer.endFrame - layer.startFrame}}px;
        left:{{ layer.startFrame }}px;
      ">
      &nbsp;
    </div>
  </div>

</div>
