<div class=bottom ng-controller="BottomCtrl">

<div class=layers-label-container>
  <div
    class=global-frame
    title="Global frame for demo" >
    {{ demo.getCurrentFrame() }}
  </div>

  <div
    class=layer-label
    ng-repeat="layer in layers"
    ng-class="(layer==inspectedLayer) ? 'inspected' : ''"
    style="border-color: {{ layer.color }};" >

    <span
      class=current-frame
      title="Relative frame for this layer"
      ng-click="demo.jumpToFrame(layer.startFrame)" >
      {{ demo.getCurrentFrame() - layer.startFrame }}
    </span>

    <span
      class=name
      ng-click="layerLabelClick(layer)">
      {{ layer.displayName }} 
    </span>
  </div>
</div>

  <div class=layers-bar-container scrollcallback="onBottomScroll">
    <div
      class="marker-line yellow"
      ng-hide="hideMarker"
      style="margin-left: {{ currentFrame - bottomScrollOffset }}px"
      >
      <div class="glow glow-yellow">
        </div>
    </div>

    <div
      class="marker-line green"
      ng-show="loopStart"
      style="margin-left: {{ loopStart - bottomScrollOffset }}px"
      >
      <div class="glow glow-green">
        </div>
    </div>

    <div
      class="marker-line green"
      ng-show="loopEnd"
      style="margin-left: {{ loopEnd - bottomScrollOffset }}px"
      >
      <div class="glow glow-green">
        </div>
    </div>

    <div
      waveform
      duration="{{duration}}"
      class="layer musiclayer"
      ng-click="musicLayerClick($event)"
      style="width: {{ duration }}px">
      &nbsp;
    </div>

    <div
      ng-repeat="layer in layers"
      dragresizable
      on-drag-resize="dragResizeLayer(event, ui, layer)"
      class=layer-bar
      style="
        background: {{ layer.color }};
        width:{{ layer.endFrame - layer.startFrame}}px;
        left:{{ layer.startFrame }}px;
      ">
      &nbsp;
    </div>
  </div>

</div>
