<div class=extra-container>
  Some kind of panel.
</div>

<demo>
</demo>

<div class=layer-list-container>

  <div class=timeline>
    Timeline
  </div>

  <div class=layer-list>
    <div class=layer ng-repeat="layer in layers">
      <div class=name>
        {{ layer.name }}
      </div>
      <div
        style="
        position: relative;
        height: 30px;
        margin-top: -30px;
        margin-left: calc({{ layer.offset }}% + 150px);
        width: {{ layer.width }}%;
        background: orange;
        "
        >
        &nbsp;
      </div>
    </div>
  </div>
</div>
